<?php

$config = [
    'storage-directory' => '',
    'known-maildomains' => [
        'Organization Name' => 'maildomain.extension'
    ],
    'uuid-service-url' => '',
    'metadata-standard-url' => ''
];